
@{ 
    <h1>My autistic work</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3" style="width: 18rem;">
                <img src="~/Images/Flower.jpg" class="card-img-top" alt="Flowers">
                <div class="card-body">
                    <h5 class="card-title">Flowers</h5>
                    <p class="card-text">A jar of flowers that perfects the african beautry</p>
                    <a href="#" class="btn btn-primary">R100000</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="width: 18rem;">
                <img src="~/Images/Wild dog.jpg" class="card-img-top" alt="Woof woof">
                <div class="card-body">
                    <h5 class="card-title">Wild Dog</h5>
                    <p class="card-text">A wild dog that stalks its prey without fear</p>
                    <a href="#" class="btn btn-primary">R20000 (or your left kidney)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Images/Mog.jpeg" class="card-img-top" alt="Positive Canthal Tilt">
        <div class="card-body">
            <h5 class="card-title">Pure Rizz</h5>
            <p class="card-text">The prime sigma male from Mogwarts himself allows a portrait to be painted</p>
            <a href="#" class="btn btn-primary">R9999999</a>
        </div>
    </div>



}
